---
import pirate_brain from "../images/pirate_brain.png";
import seguridad from "../images/seguridad.png";
import logo from "../images/favicon.png"

import tier1 from "../images/tier1.png";
import tier2 from "../images/tier2.png";
import tier3 from "../images/tier3.png";

import arrow1 from "../images/arrows.png";

import kraken from "../images/kraken.png";
---

<div class="flex flex-col justify-center gap-10 pt-10 text-white">
    <div class="flex flex-col md:justify-center md:flex-row gap-5 md:gap-0 w-full">
        <div class="flex flex-col justify-center w-[90%] md:w-[40%] p-16 rounded-3xl shadow-box-shadow m-auto mb-36">
            <div class="flex justify-center">
                <img src={pirate_brain} alt="" class="w-40">
            </div>
            <div class="text-center flex flex-col justify-center">
                <div class="font-[f] text-2xl">
                    <h2>CREATIVIDAD</h2>
                </div>
                <div class="font-thin text-xl">
                    <p>Te creamos una página web en base a la informacion que nos proporciones. Para entregarte a ¡la mejor calidad posible!.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center w-[90%] md:w-[40%] p-16 rounded-3xl shadow-box-shadow m-auto mb-36">
            <div class="flex justify-center">
                <img src={seguridad} alt="" class="w-40">
            </div>
            <div class="text-center flex flex-col justify-center">
                <div class="font-[f] text-2xl">
                    <h2>Asistencia y Soporte</h2>
                </div>
                <div class="font-thin text-xl">
                    <p>Proporcionamos la asistencia y el soporte 24/7 que tu página web necesita, el cual incluyen ¡TODOS los planes!</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-white w-[100%] flex justify-center m-auto bg-[url('bg.png')] shadow-box-shadow mb-24">
        <div class="m-auto">
            <img src={arrow1} alt="">
        </div>
        <div class="flex justify-center flex-col">
            <div class="flex justify-center pt-10">
                <img src={logo} alt="" class="w-40">
            </div>
            <div class="text-center font-[f] text-2xl mb-5">
                <p>Quienes somos</p>
            </div>
            <div class="text-justify flex justify-center text-[2.5vh] font-thin">
                <p class="w-[90%] md:w-96 text-xl pb-10">
                    Somos un equipo de desarrolladores web enfocados en publicitar su marca, negocio o emprendimiento por medio del servicio más conocido en internet.
                </p>
            </div>
        </div>
        <div class="m-auto scale-x-[-1]">
            <img src={arrow1} alt="">
        </div>
    </div>

    <div class="flex justify-center flex-col text-center">
        <div class="">
            <div class="font-[f] text-2xl md:mb-14">
                <h2>¿De qué me serviría un sítio web?</h2>
            </div>
            <!-- -->
            <div class="flex flex-col md:flex-row justify-center gap-5 text-left w-3/4 md:w-full xl:px-36 m-auto mb-20">
                <div>
                    <div class="font-[f]">
                        <p>&#127988; Portafolios Web</p>
                    </div>
                    <div class="text-justify pl-6">
                        <p>Eres un diseñador, ilustrador o quieres promocionar tu arte pero ¿no sabes cómo?, un portafolio web podría ser una buena opcion.</p>
                    </div>
                </div>
                <div>
                    <div class="font-[f]">
                        <p>&#127988; Currículums Online</p>
                    </div>
                    <div class="text-justify pl-6">
                        <p>Olvidate de los Currículums en papel y conviertelo en uno virtual, actualiza ya para llegar a más personas.</p>
                    </div>
                </div>
                <div>
                    <div class="font-[f]">
                        <p>&#127988; Promociona tu negocio</p>
                    </div>
                    <div class="text-justify pl-6">
                        <p>Con un sitio web, el alcance a tus clientes puede ser más intuitivo y mejorarías mucho tu atención al cliente.</p>
                    </div>
                </div>
                <div class="w-auto pr-4">
                    <div class="font-[f]">
                        <p>&#127988; ¡Mucho más!</p>
                    </div>
                    <div class="text-justify pl-6">
                        <p>Un blog, ¿una propagada?. Lo que te imágines lo puedes publicar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex justify-center font-[f] text-2xl md:mb-24 mb-10">
            <h2>Planes</h2>
        </div>
        <div class="flex flex-col md:flex-row items-start mb-10 gap-10 md:gap-5">
            <div class="m-auto shadow-box-shadow rounded-2xl p-5 md:w-96">
                <div class="flex mb-5 justify-center">
                    <img src={tier1} alt="" class="w-52">
                </div>
                <div class="font-[f] text-center text-xl">
                    <h3>Hosting Gratuito</h3>
                </div>
                <div class="pl-5">
                    <p>&#127988; Almacenamiento 300mb</p>
                    <p>&#127988; Transferencia 3gb</p>
                </div>
            </div>
            <div class="m-auto shadow-box-shadow rounded-2xl p-5 md:w-96">
                <div class="flex justify-center">
                    <img src={tier2} alt="" class="w-56">
                </div>
                <div class="font-[f] text-center text-xl">
                    <h3>Hosting Dedicado</h3>
                    <h4>(dns externo)</h4>
                </div>
                <div class="pl-5">
                    <p>&#127988; Almacenamiento 1gb</p>
                    <p>&#127988; Transferencia ilimitado</p>
                </div>
            </div>
            <div class="m-auto shadow-box-shadow rounded-2xl p-5 md:w-96">
                <div class="flex mb-5 justify-center">
                    <img src={tier3} alt="" class="w-56">
                </div>
                <div class="font-[f] text-center text-xl">
                    <h3>Hosting Dedicado</h3>
                    <h4>(dns incluido)</h4>
                </div>
                <div class="pl-5">
                    <p>&#127988; Almacenamiento 1gb</p>
                    <p>&#127988; Transferencia ilimitado</p>
                </div>
            </div>
            <div class="m-auto shadow-box-shadow rounded-2xl p-5 w-4/5 md:w-96">
                <div class="flex mb-5 justify-center">
                    <img src={tier3} alt="" class="w-56">
                </div>
                <div class="font-[f] text-center text-xl">
                    <h3>Hosting Dedicado</h3>
                    <h4>adaptado</h4>
                </div>
                <div class="pl-5">
                    <p>&#127988; Servicio adapatado a sus necesidades</p>
                    <p>&#127988; precios negociables.</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex text-center justify-center font-[f] text-2xl mb-10"  id="contacto">
            <h2>Contacto</h2>
        </div>
        <div class="absolute w-full flex md:justify-end align-middle justify-end">
            <img src={kraken} alt="" >
        </div>
        <div class="flex justify-center absolute h-[500px] md:w-full p-4 md:p-0">
            <form action="https://formsubmit.co/diegofernandezf06@gmail.com" method="post" class="text-black">
                <div class="w-full">
                    <div class="">
                        <input type="text" placeholder="Nombre" name="name" required class="inp-form hover:border-t-2 px-3 text-white">
                    </div>
                    <div class="">
                        <input type="email" placeholder="Email" name="email" required class="inp-form hover:border-t-2 px-3 text-white">
                    </div>
                    <div>
                        <textarea name="message" id="" cols="80" rows="10" name="msj" placeholder="Mensaje" class="bg-[#323232] w-[100%] text-slate-50 outline-none hover:border-t-2"></textarea>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Enviar" class="w-1/4 bg-[#323232] text-slate-50 focus:bg-[#797979] focus:text-[#323232]">
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .inp-form{
        width: 80%;
        height: 50px;
        margin-bottom: 1rem;
        outline: none;

        background-color: #323232;
    }
</style>